[submodule "development/submodules/ios-profile"]
	path = development/submodules/ios-profile
	url = git@github.com:soomla/ios-profile.git
[submodule "development/submodules/android-profile"]
	path = development/submodules/android-profile
	url = git@github.com:soomla/android-profile.git
